#menu a{
    font-size: 18px;
    font-weight: bold;
}

#menu button{
    font-size: 18px;
}

footer {
    background-color: #1b2a4e;
    min-height: 100px;
}

footer p{
    color: #f3f3f3;
    text-align: center;
}

#iconos i {
    font-size: 26px;
    padding: 0 8px;
    color: #f3f3f3;
}